= simple_form_for @event, html: { multipart: true } do |f|
	= f.collection_select :type_id, Type.all, :id, :name, {promt: "Choose a type" }, input_html: { class: "dropdown-toggle" }
	= f.input :name, label: "Your name", input_html: { class: "form-control" }
	= f.input :city, label: "Event city", input_html: { class: "form-control" }
	= f.input :state, label: "Event state", input_html: { class: "form-control" }
	= f.input :address, label: "Event Address", input_html: { class: "form-control" }
	= f.input :phone, label: "Event phone", input_html: { class: "form-control" }
	= f.input :email, label: "Your Email", input_html: { class: "form-control" }
	= f.input :dress, label: "Event Dress Code", input_html: { class: "form-control" }
	= f.input :description, label: "Event description", input_html: { class: "form-control" }
	= f.file_field :image, label: "Event image", input_html: { class: "form-control" }
	
	%br/
	= f.button :submit
