#post_show
	%h1= @event.name
	%p.username
		Shared by
		= @event.user.name
		about
		= time_ago_in_words(@event.created_at)
	.clearfix
		.post_image_description
			= image_tag @event.image.url(:medium)
			.description= simple_format(@event.description)
		.post_data
			= link_to "Visit Link", @event.address, class: "button"
			= link_to like_event_path(@event), method: :get, class: "data" do
				%i.fa.fa-thumbs-o-up
				= pluralize(@event.get_upvotes.size, "Like")
			= link_to dislike_event_path(@event), method: :get, class: "data" do
				%i.fa.fa-thumbs-o-down
				= pluralize(@event.get_downvotes.size, "Dislike")
			%p.data
				%i.fa.fa-comments-o
				= pluralize(@event.comments.count, "Comment")
			- if @event.user == current_user
				= link_to "Edit", edit_event_path(@event), class: "data"
				= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
		#random_post
			%h3 Random Inspiration
			.post
				.post_image
					= link_to (image_tag @random_event.image.url(:medium)), event_path(@random_event)
				.post_content
					.title
						%h2= link_to @random_event.name, event_path(@random_event)
					.data.clearfix
						%p.username
							Shared by
							= @random_event.user.name
						%p.buttons
							%span
								%i.fa.fa-comments-o
								= @random_event.comments.count
							%span
								%i.fa.fa-thumbs-o-up
								= @random_event.get_likes.size

#comments
	%h2.comment_count= pluralize(@event.comments.count, "Comment")
	- @comments.each do |comment|
		.comment
			%p.username= comment.user.name
			%p.content= comment.body

	= render "comments/form"